<div class="container">
  <div class="post">
    <h4> Post: <%= @post.title %> </h4>
    <p class='count'>Comments: <%= @post.comments.count %> | Likes: <%= @post.likes.count %></p>
    <p><%= @post.text %></p>
    <%= button_to "Delete Post", user_post_path(@user, @post), method: :delete, class: 'button' if can? :destroy, @post %>
  </div>
  <div class="comments">
    <% @post.comments.each do |comment| %>
      <div class="comment">
        <p><strong><%= comment.author.name %> :</strong> <%= comment.text %></p>
        <%= button_to "Delete Comment", user_post_comment_path(@user, @post), method: :delete, class: 'button' if can? :destroy, @post %>
      </div>
    <% end %> 
  </div>
</div>